<div fxLayout fxLayout.lt-md="column" class="container" fxLayoutAlign="space-between">
    <div fxLayout="column" >
        <h1>NOVA ADMISSÃO COOPERADO</h1>
        <h2>Cadastro / Admissão do Cooperado / Nova Admissão </h2>
    </div>
    <div fxLayout fxLayoutAlign="center center" fxLayoutGap="1rem">
        <mat-button matBadge="7" matBadgeColor="warn">
            <fa-icon [icon]="faBell" size="2x" class="color-primary"></fa-icon>
        </mat-button>
        <button mat-stroked-button class="color-primary btn-primary radius-100" apparence="oultine">
            VIACREDI
        </button>
        <img class="radius-100 btn-primary" src="assets/images/avatar.png" width="45px" height="45px" />
    </div>
</div>