.wrapper {
    width: 5rem;
    background: var(--primary);
    height: auto;
    color: var(--white);
    padding: 1rem;
}

@media (max-width: 959px) {
    .wrapper {
        width: auto;
    }
}

.content {
    width: 100%;
    height: 100vh;
    overflow: auto;
}